body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.airplay_device {
  height: 100px;
  width: 100px;
  float: left;
}

#airplay_devices {
  height: 100px;
}

.airplay_device img {
  height: 50px;
  width: 50px;
}

.airplay_device label {
  margin-left: 2px;
}

.multiplexer label {
  color: red;
}

.airplay_drop {
  height: 300px;
  width: 300px;
  background-image: url("/images/apple.png");
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#stream {
  display: none;
  margin-left: 13px;
}

.controls {
  width: 300px;
}
